<div class="col text-center mt-3" *ngIf="!dataSource || !dataSource.results">
  <wo-loader [isLoading]="true" size="1.5"></wo-loader>
</div>
<ng-container *ngIf="dataSource">
  <div class="col" *ngIf="!isMobile()">
    <table class="table responsive-table table-bordered text-center w-100">
      <thead>
        <tr>
          <ng-container *ngFor="let column of dataSourceConfigs.columns">
            <th *ngIf="!column.isHidden">
              {{
                column.caption != null
                  ? column.caption
                  : (column.dataKey | humanizeCamelCase)
              }}
            </th>
          </ng-container>
        </tr>
        <tr *ngIf="dataSource.results.length == 0">
          <th
            [attr.colspan]="dataSourceConfigs.columns.length"
            class="text-center"
          >
            {{ 'No Results' }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rowData of dataSource.results">
          <ng-container *ngFor="let column of dataSourceConfigs.columns">
            <ng-container *ngIf="!column.isHidden">
              <td>
                <a
                  *ngIf="
                    column.includeHrefConfigs;
                    else dataGridCellValueTemplate
                  "
                  [routerLink]="[
                    '/' +
                      column.includeHrefConfigs.redirectionUrl +
                      '/' +
                      rowData[column.includeHrefConfigs.parameterColumn]
                  ]"
                >
                  <ng-container
                    *ngTemplateOutlet="
                      dataGridCellValueTemplate;
                      context: {
                        column: column,
                        rowData: rowData
                      }
                    "
                  ></ng-container>
                </a>
              </td>

              <ng-template #dataGridCellValueTemplate>
                <wo-datagrid-cell
                  [column]="column"
                  [cellData]="rowData[column.dataKey]"
                >
                  <ng-content
                    *ngTemplateOutlet="
                      cellTemplatesDict[column.dataKey];
                      context: { rowData: rowData }
                    "
                  >
                  </ng-content>
                </wo-datagrid-cell>
              </ng-template>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="isMobile()">
    <div class="col-12 text-center mt-3" *ngIf="dataSource.results.length == 0">
      {{ 'No Results' }}
    </div>
    <div class="col-sm-12 col-md-6" *ngFor="let rowData of dataSource.results">
      <mat-card class="m-1 p-1 pb-2">
        <ng-container
          *ngTemplateOutlet="
            cardViewTemplate ? customCardViewTemplate : defaultCardView;
            context: { rowData: rowData }
          "
        ></ng-container>
        <!-- default card list element -->
        <ng-template #defaultCardView>
          <mat-list>
            <ng-container *ngFor="let column of dataSourceConfigs.columns">
              <mat-list-item>
                <span
                  class="mb-md-1"
                  *ngIf="!column.customCellTemplateEnabled && !column.isHidden"
                >
                  <b class="mr-1">
                    {{
                      (column.caption) != null
                        ? column.caption
                        : (column.dataKey | humanizeCamelCase) + ':'
                    }}
                  </b>
                  <a
                    *ngIf="column.includeHrefConfigs; else rowDataValueTemplate"
                    [routerLink]="[
                      '/' +
                        column.includeHrefConfigs.redirectionUrl +
                        '/' +
                        rowData[column.includeHrefConfigs.parameterColumn]
                    ]"
                  >
                    <ng-container
                      *ngTemplateOutlet="rowDataValueTemplate"
                    ></ng-container>
                  </a>
                  <ng-template #rowDataValueTemplate>
                    {{ rowData[column.dataKey] }}
                  </ng-template>
                </span>
                <ng-container *ngIf="column.customCellTemplateEnabled">
                  <ng-content
                    *ngTemplateOutlet="
                      cellTemplatesDict[column.dataKey];
                      context: { rowData: rowData }
                    "
                  >
                  </ng-content>
                </ng-container>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </ng-template>
        <!-- default card list element ends -->
        <!-- custom card list element -->
        <ng-template #customCardViewTemplate>
          <ng-content
            *ngTemplateOutlet="cardViewTemplate; context: { rowData: rowData }"
          >
          </ng-content>
        </ng-template>
      </mat-card>
      <!-- custom card list element ends-->
    </div>
  </div>
  <div class="col">
    <mat-paginator
      [length]="dataSource.count"
      [pageSize]="dataSource.paginateBy"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
