<mat-card *ngIf="dataSource">
  <div class="col">
    <table class="table responsive-table table-bordered text-center w-100">
      <thead>
        <tr>
          <!-- <th>Username</th>
          <th class="disabled">Clan</th>
          <th>Points</th>
          <th>Number of villages</th> -->
          <ng-container *ngFor="let column of dataSourceConfigs.columns">
            <th *ngIf="!column.isHidden">
              {{
                column.caption != null
                  ? column.caption
                  : (column.dataKey | humanizeCamelCase)
              }}
            </th>
          </ng-container>
        </tr>
        <tr *ngIf="dataSource.results.length == 0">
          <th
            [attr.colspan]="dataSourceConfigs.columns.length"
            class="text-center"
          >
            {{ 'No results' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rowData of dataSource.results">
          <ng-container
            *ngFor="let column of dataSourceConfigs.columns"
            [ngSwitch]="column.includeHrefConfigs && 'hasHref'"
          >
            <ng-container *ngIf="!column.isHidden">
              <td *ngSwitchCase="'hasHref'">
                <a
                  [routerLink]="[
                    '/' +
                      column.includeHrefConfigs.redirectionUrl +
                      '/' +
                      rowData[column.includeHrefConfigs.parameterColumn]
                  ]"
                >
                  <wo-datagrid-cell
                    [column]="column"
                    [cellData]="rowData[column.dataKey]"
                  >
                    <ng-content
                      *ngTemplateOutlet="
                        cellTemplatesDict[column.dataKey];
                        context: { rowData: rowData }
                      "
                    >
                    </ng-content>
                  </wo-datagrid-cell>
                </a>
              </td>
              <td *ngSwitchDefault>
                <wo-datagrid-cell
                  [column]="column"
                  [cellData]="rowData[column.dataKey]"
                >
                </wo-datagrid-cell>
                <ng-content
                  *ngTemplateOutlet="
                    cellTemplatesDict[column.dataKey];
                    context: { rowData: rowData }
                  "
                >
                </ng-content>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <mat-paginator
      [length]="dataSource.count"
      [pageSize]="dataSource.paginateBy"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>
</mat-card>
